@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
}

.container {
  max-width: 1170px;
  padding-left: 90px;
  padding-right: 90px;
  margin: auto;
}
@media (max-width: 639px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
section {
  padding: 50px 0;
}